---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <p class="text-center text-slate-500">
    Trusted by families, workers, and students across Canada.
  </p>
</div>
